@media (min-width:993px)
{
    .fa-arrow-left                                    
        {
            font-size:40px;
            margin: 20px 0px 0px $marge;
            text-shadow: 3px 1px 3px $couleur-ter;      
        }

    .logo
    {
        margin-top: -50px;
        padding-bottom: 25px;
    }
    
    .image-main                                        /*On définit une taille unique pour l'image qu'on centre*/    
    {
    width: 992px;
    @include marge-auto;
    margin-top: 5px;
    }

   .menu                                                /*On applique la même règle pour le menu*/
    {
       @extend .image-main;
       top: -130px;
       
    }                         
                                                        /*On accorde une taille unique pour le titre et le logo coeur*/
   .menu__titre h1{font-size: 50px;}                    

   .menu .fa-heart {font-size: 45px;}
                                                        /*On augmente la taille de l'écriture*/
   .composition__titre {font-size: 26px;}

   .composition__prix {font-size: 22px;}

    .composition__plat
    {
        font-size: 22px;
        white-space: nowrap;                                /*N'arrivant pas a définir un cadre plus grand pour décaler le texte, on utilise cette propriété plus une position absolute*/
    }
   
    
    .composition__complémentaire
    {
        font-size: 22px;
        position: absolute;
        left: 400px
    }
    
    .composition__commentaire {flex-direction: row-reverse;}

   

    .foother 
    {
        @include centrer (column, center);
        position: relative;
        top: 1330px;
    }                   

    &__titre
    {
        margin-left: $marge;
        font-size: map-get($taille-size-t, icone); 
    }

    .cadre 
    {
        padding: 12px 10px 12px 10px;
        
    }
    
    .foother
    {
        padding-left: 0px;
    }

    .fa-utensils {padding-right: 2px;}       
    
}  

