@media (max-width: 768px)  
{
    .fa-arrow-left                                      /*en tete*/
    {
        font-size:23px;
        opacity: 0.8;
        margin: 20px 0px 0px $marge;
    }

    .logo{margin-top: -25px;}

    .la-francaise-menu                                      /*l'image de la section*/
    {
        max-width: 100%;
        margin-top: 15px;
    }

    .menu
    {
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        position: relative;                             /*Il suffit de mettre une position relative, monter la balise et lui accorder un border-radius pour avoir l'effet demandé*/
        bottom: 60px;
        background: $background;
        padding-bottom: 100px;
        margin-bottom: -60px;

        &__titre
        {
            display: flex;
            justify-content: space-between;

            h1
            {
                font-family: 'shrikhandregular', verdana, arial, helvetica, sans-serif;     
                padding-top: 40px;
                margin-left: $marge;
                font-size: 7.5vw;                         /*On utilise cette police pour que le titre s'accorde à la résolution afin que l'écran ne paraisse pas trop vide en grande resolution*/
            }
        

            .fa-heart
            {
                font-size: 6.8vw;
                padding-top: 40px;
                margin-right: 35px;
                opacity: 0.8;
            }
        }

        .composition
        {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: $marge;

            &__titre                    /*On adopte une taille de polcie et de bordure en vw pour s'adapter à la résolution*/
            {
                text-transform: uppercase;
                font-size: map-get($taille-size, p);
                font-weight: 200;
                opacity: 0.7;
                margin-top: 30px;
                @include souligner (4px solid $couleur-ter, 5px, 40px);
            }
        }

        .cadre                          /*On ne fait pas de nesting car la lecture deviendrait trop complexe*/
            {
                background: white;
                border-radius: 15px;
                box-shadow: $ombrage;
                margin: 5px $marge 10px 0px;

               .composition__plat 
               {
                   padding-left: 10px;
                   margin-bottom: -8px;
                   margin-top: 10px;  
               }

               .composition__commentaire
                {
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 20px 10px 10px;
                }
            }

        #bouton_resa
        {
            @include logo-bouton(230px, 60px, 18px, 50px);
            background: linear-gradient($couleur-sec, $couleur-pr);
            border: white;
            box-shadow: $ombrage;  
        } 

        .foother                                            /*bas de page*/
    {
        background: rgb(41, 37, 37); 

        &__titre
        {
            color: white;
            margin-left: $marge;
            font-family: 'shrikhandregular';
            font-size: map-get($taille-size, icone);
            padding-top: 25px;
            margin-bottom: 20px;
        }

        &__nav
        {
            color: white;
            margin-left: $marge;
            justify-content: space-between;
            display: flex;
            flex-direction: column;
            height: 160px;
            padding-bottom: 40px;
            font-size: 15px;
        }

        a
        {
            text-decoration: none;
            color: white;
        }
        .fa-utensils  {margin-right: 13px;}         /*On précise une marge supplémentaire pour l'alignement*/
        .fa-handshake-angle {margin-right: 6px;}
    }
    }

    


}