@media (max-width: 768px)                               /*Notre code pour mobile se fera sur ce fichier*/
{
    .logo                                                  /*Header*/
    {
        @include logo-bouton;
        margin-top: 25px;
    }

    .reservation                                            /*Réservation avec formulaire*/
    {
        @include centrer;
        flex-direction: column;
        margin-top: 15px;
        background: $background;

        
            .icone-plus-barre
            {
                @include centrer;
                background: rgba(231, 224, 224, 0.781);
                height: 50px;
                border-top: 3px solid rgba(94, 91, 91, 0.25);
                padding-left: 40px;

                .fa-location-dot
                {
                    font-size: map-get($taille-size,icone);
                    margin-right: 15px;
                    padding-top: 13px;
                    padding-left: 10px;
                    opacity: 0.8;
                }
            }
           
            .reservation__barre-recherche 
            {
                background: rgba(221, 218, 218, 0);
                border: 0px;
                font-size: 17px;
            }       
            
            .reservation__titre
            {
                margin: 40px auto 20px auto;
                text-align: center;
                @include titre (map-get($taille-size, h1));
                line-height: map-get($interligne, h1);
                font-weight: bold;
                
            }    
            
            .reservation__texte
            {
                @extend.reservation__titre;
                margin-top: 15px;
                max-width: 60%;
                opacity: 0.8;
                line-height: map-get($interligne,p);
                font-weight: normal;
            }
            
        #bouton_resa
        {
            @include logo-bouton(280px, 70px, 21px, 30px);
            background: linear-gradient(to bottom right, $couleur-sec, $couleur-pr);
            border: white;
            box-shadow: $ombrage;
            font-weight: 0.9;

            &:hover
            {
                @include hover;
            }
        }    
    }
    
    form{height: 400px};                            /*On donne la hauteur du bloc grace a cette fonctionalité à cause de la position des autres blocs*/
    .fonctionnement                         /*Affichage de la nav*/
    {
        @include centrer(column, center);
        margin-left: $marge;
        margin-right: $marge;
        max-width: 100%;
        
        
        ul
        {
            counter-reset: compteur;
            border-radius: 20px;
            font-size: 20px; 
            list-style-type:none;
            padding-left: 10px;
            text-align: center;
            max-width: 100%;
            position: relative;
            margin-top: 90px;
        }

        &__titre 
        { 
            @include titre (map-get($taille-size,h1)); 
            position: absolute;
            left: 0px;
            top: -40px;
        }

        li                                                              /*Affichage de la puce + le cadre*/
        {
            @include logo-bouton (400px, 60px, map-get($taille-size,p), 30px, 0px, 30px, 0px, 20px, black);
            max-width: 100%;
            counter-increment: compteur;
            display: flex;
            line-height: 30px;
            background: $background; 
            align-items: center;
            box-shadow: $ombrage;
            @include titre (map-get($taille-size, icone));
            width: 500px;
        }

        li::before
        {
            background:$couleur-pr;    
            content: counter(compteur);
            @include logo-bouton (26px, 28px, 16px, 0px, 0px, 0px, 0px, 50%);
            position: relative;
            left: -15px;
        }

        .icone-fonctionnement
        {
            font-size: map-get($taille-size,logo);
            margin-left: 5px;
            margin-right: 20px;
            opacity: 0.5;
        }
    }

    .main-accueil                           /*Toujours donner une classe aux balises pour éviter que les propriétés s'adapent sur d'autres pages*/
    {
        margin-top: 35px;
        background: $background;
        height: 1345px;
        padding-left: $marge;
        padding-right: $marge;
        position: relative;
        padding-top: 130px;
        margin-bottom: -1000px;
        
        h1
        {   
            @include titre(30px);
            position: absolute;
            top: 60px;
        }

        .carte
        {
            @include marge-auto;
            margin-bottom: 20px;
            box-shadow: $ombrage;
            border-radius: 20px;
            height: 275px;
            max-width: 500px;
            
            .la-palette, .note-enchantee, .la-francaise, .delice-des-sens
            {
                width: 100%;
                height: 200px;
                -o-object-fit: cover;
                   object-fit: cover;
                border-radius: 20px 20px 0px 0px;
                margin-bottom: 10px;
            }

            &__contenu{position: relative}

            &__titre
            {
                @include titre(19px);
                margin-left: 15px;      
            }

            &__adresse{margin-left: 15px;}

            .fa-heart
            {
                font-size: map-get($taille-size, coeur);
                opacity: 0.8;
                position: absolute;
                top: 8px;
                right: 20px;
                margin-bottom: 0px;
            }

            &__nouveau
            {
                position: absolute;
                background: $couleur-ter;
                border-radius: 10px;
                top: -200px;
                right: 15px;
                width: 95px;
                height: 30px;
                @include centrer(center, center);
                color:hsl(160, 86%, 22%);
                font-weight: bold;
                font-size: 16px;
            }
        }
    
         
    }
    
    .foother
    {
        background: $background-foother; 
        position: relative;
        top: 1000px;

        &__titre
        {
            color: white;
            margin-left: $marge;
            font-family: 'shrikhandregular';
            font-size: map-get($taille-size, icone);
            padding-top: 25px;
            margin-bottom: 20px;
        }

        &__nav
        {
            color: white;
            margin-left: $marge;
            justify-content: space-between;
            display: flex;
            flex-direction: column;
            height: 160px;
            padding-bottom: 40px;
            font-size: 15px;
        }

        a
        {
            text-decoration: none;
            color: white;
        }
        .fa-utensils  {margin-right: 13px;}         /*On précise une marge supplémentaire pour l'alignement*/
        .fa-handshake-angle {margin-right: 6px;}
    }
}



