@font-face {                                                                      /*Paramètres de la police*/
    font-family: 'robotoregular';
    src: url('../police/robotto/roboto-regular-webfont.eot');
    src: url('../police/robotto/roboto-regular-webfont.eot') format('embedded-opentype'),
         url('../police/robotto/roboto-regular-webfont.woff2') format('woff2'),
         url('../police/robotto/roboto-regular-webfont.woff') format('woff'),
         url('../police/robotto/roboto-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  
  }
  
  @font-face {
    font-family: 'robotobold';
    src: url('../police/robottobold/roboto-bold-webfont.eot');
    src: url('../police/robottobold/roboto-bold-webfont.eot') format('embedded-opentype'),
         url('../police/robottobold/roboto-bold-webfont.woff2') format('woff2'),
         url('../police/robottobold/roboto-bold-webfont.woff') format('woff'),
         url('../police/robottobold/roboto-bold-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

  
  @font-face {
    font-family: 'shrikhandregular';
    src: url('../police/srilankaise/shrikhand-regular-webfont.eot');
    src: url('../police/srilankaise/shrikhand-regular-webfont.eot') format('embedded-opentype'),
         url('../police/srilankaise/shrikhand-regular-webfont.woff2') format('woff2'),
         url('../police/srilankaise/shrikhand-regular-webfont.woff') format('woff'),
         url('../police/srilankaise/shrikhand-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  
  }

  p{font-family: 'robotoregular', verdana, arial, helvetica, sans-serif;}
  
  
  * {                                                                 /*Définition du border-box*/ 
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  

  body, h1, p                                                              /*Définition des paramètres globaux*/
  {
    margin: 0px;
    
  
  @import "variable-mixin";
  @import "accueil-desktop";
  @import "accueil-tablette";
  @import "accueil-mobile";
  
 
  
  }
  
  