@charset "UTF-8";
@font-face {
  font-family: 'robotoregular';
  src: url("../police/robotto/roboto-regular-webfont.eot");
  src: url("../police/robotto/roboto-regular-webfont.eot") format("embedded-opentype"), url("../police/robotto/roboto-regular-webfont.woff2") format("woff2"), url("../police/robotto/roboto-regular-webfont.woff") format("woff"), url("../police/robotto/roboto-regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'shrikhandregular';
  src: url("../police/srilankaise/shrikhand-regular-webfont.eot");
  src: url("../police/srilankaise/shrikhand-regular-webfont.eot") format("embedded-opentype"), url("../police/srilankaise/shrikhand-regular-webfont.woff2") format("woff2"), url("../police/srilankaise/shrikhand-regular-webfont.woff") format("woff"), url("../police/srilankaise/shrikhand-regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  /*Définition du border-box*/
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'robotoregular', verdana, arial, helvetica, sans-serif;
}

p {
  font-family: 'robotoregular', verdana, arial, helvetica, sans-serif;
}

h1 {
  font-family: 'robotobold', verdana, arial, helvetica, sans-serif;
  font-weight: bold;
}

body, h1, p {
  margin: 0px;
  /*Définition des variables*/
}

@media (max-width: 768px) {
  body .header, h1 .header, p .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: normal;
            flex-direction: normal;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    margin-top: 30px;
  }
  body .fa-arrow-left, h1 .fa-arrow-left, p .fa-arrow-left {
    font-size: 25px;
    opacity: 0.8;
    position: absolute;
    left: 20px;
    text-decoration: none;
    color: black;
  }
  body .logo, h1 .logo, p .logo {
    width: 220px;
  }
  body .la-francaise-menu, h1 .la-francaise-menu, p .la-francaise-menu {
    max-width: 100%;
    margin-top: 15px;
  }
  body .menu, h1 .menu, p .menu {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position: relative;
    /*Il suffit de mettre une position relative, monter la balise et lui accorder un border-radius pour avoir l'effet demandé*/
    bottom: 60px;
    background: #f3f7f6;
    padding-bottom: 100px;
    margin-bottom: -60px;
  }
  body .menu__titre, h1 .menu__titre, p .menu__titre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .menu__titre h1, h1 .menu__titre h1, p .menu__titre h1 {
    font-family: 'shrikhandregular', verdana, arial, helvetica, sans-serif;
    padding-top: 40px;
    margin-left: 20px;
    font-size: 2rem;
  }
  body .menu__titre .fa-heart, h1 .menu__titre .fa-heart, p .menu__titre .fa-heart {
    font-size: 30px;
    padding-top: 40px;
    margin-right: 35px;
    opacity: 0.8;
  }
  body .menu .composition, h1 .menu .composition, p .menu .composition {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 20px;
  }
  body .menu .composition__titre, h1 .menu .composition__titre, p .menu .composition__titre {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 200;
    opacity: 0.7;
    margin-top: 30px;
    border-bottom: 4px solid #99E2D0;
    padding-bottom: 5px;
    width: 40px;
  }
  body .menu .cadre, h1 .menu .cadre, p .menu .cadre {
    background: white;
    border-radius: 15px;
    -webkit-box-shadow: 1px 2px 10px rgba(182, 176, 176, 0.952);
            box-shadow: 1px 2px 10px rgba(182, 176, 176, 0.952);
    margin: 5px 20px 10px 0px;
  }
  body .menu .cadre .composition__plat, h1 .menu .cadre .composition__plat, p .menu .cadre .composition__plat {
    padding-left: 10px;
    margin-bottom: -8px;
    margin-top: 10px;
  }
  body .menu .cadre .composition__commentaire, h1 .menu .cadre .composition__commentaire, p .menu .cadre .composition__commentaire {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 20px 10px 10px;
  }
  body .menu #bouton_resa, h1 .menu #bouton_resa, p .menu #bouton_resa {
    width: 230px;
    height: 60px;
    font-size: 18px;
    margin: 50px auto 0px auto;
    display: block;
    border-radius: 100px;
    color: white;
    background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    border: white;
    -webkit-box-shadow: 1px 2px 10px rgba(182, 176, 176, 0.952);
            box-shadow: 1px 2px 10px rgba(182, 176, 176, 0.952);
  }
  body .foother, h1 .foother, p .foother {
    background: #292525;
  }
  body .foother__titre, h1 .foother__titre, p .foother__titre {
    color: white;
    margin-left: 20px;
    font-family: 'shrikhandregular';
    font-size: 19px;
    padding-top: 25px;
    margin-bottom: 20px;
  }
  body .foother__nav, h1 .foother__nav, p .foother__nav {
    color: white;
    margin-left: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 160px;
    padding-bottom: 40px;
    font-size: 15px;
  }
  body .foother a, h1 .foother a, p .foother a {
    text-decoration: none;
    color: white;
  }
  body .foother .fa-utensils, h1 .foother .fa-utensils, p .foother .fa-utensils {
    margin-right: 13px;
  }
  body .foother .fa-handshake-angle, h1 .foother .fa-handshake-angle, p .foother .fa-handshake-angle {
    margin-right: 6px;
  }
}

@media (min-width: 480px) {
  body .menu h1, h1 .menu h1, p .menu h1 {
    font-size: 6vw;
  }
}

@media (min-width: 769px) {
  body .fa-arrow-left, h1 .fa-arrow-left, p .fa-arrow-left {
    font-size: 40px;
    margin: 20px 0px 0px 20px;
    text-shadow: 3px 1px 3px #99E2D0;
    /*On rajoute un ombrage tout en respectant la pate graphique initiale*/
    color: black;
  }
  body header, h1 header, p header {
    background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
    background: linear-gradient(#FF79DA, #9356DC);
  }
  body .logo, h1 .logo, p .logo {
    padding-bottom: 25px;
    width: 400px;
    height: auto;
    font-size: 17px;
    margin: -40px auto 0px auto;
    display: block;
    border-radius: 100px;
    color: white;
  }
  body .la-francaise-menu, h1 .la-francaise-menu, p .la-francaise-menu {
    width: 100%;
    margin-top: 30px;
    border-radius: 40px;
  }
  body main, h1 main, p main {
    margin-top: 0px;
    /*Le bloc main se supperpose au bloc menu, pour ne pas le voir nous lui definissions des marges à 0 et changeons la couleur de fond*/
    background: #f3f7f6;
    position: relative;
    padding: 0px;
    margin-bottom: 0px;
    height: 0px;
  }
  body .menu, h1 .menu, p .menu {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    position: relative;
    /*Il suffit de mettre une position relative, monter la balise et lui accorder un border-radius pour avoir l'effet demandé*/
    bottom: 90px;
    background: #f3f7f6;
    padding-top: 10px;
    padding-bottom: 90px;
  }
  body .menu h1, h1 .menu h1, p .menu h1 {
    font-family: 'shrikhandregular', verdana, arial, helvetica, sans-serif;
    padding-top: 30px;
    margin-left: 40px;
    font-size: 5vw;
    /*On diminue la taille du titre ainsi que de l'icone*/
    /*On utilise cette police pour que le titre s'accorde à la résolution afin que l'écran ne paraisse pas trop vide en grande resolution*/
    border-bottom: 0px;
    padding-right: 0px;
  }
  body .menu .fa-heart, h1 .menu .fa-heart, p .menu .fa-heart {
    font-size: 4.4vw;
    position: absolute;
    right: 40px;
    top: 40px;
    opacity: 0.8;
  }
  body article, h1 article, p article {
    margin-bottom: 50px;
  }
  body .composition, h1 .composition, p .composition {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
  }
  body .composition__titre, h1 .composition__titre, p .composition__titre {
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 200;
    opacity: 0.7;
    margin-left: 20px;
    margin-top: 30px;
    border-bottom: 4px solid #99E2D0;
    padding-bottom: 5px;
    width: 40px;
  }
  body .composition .cadre, h1 .composition .cadre, p .composition .cadre {
    background: white;
    border-radius: 15px;
    -webkit-box-shadow: 1px 2px 10px rgba(182, 176, 176, 0.952);
            box-shadow: 1px 2px 10px rgba(182, 176, 176, 0.952);
    margin: 5px 20px 20px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .composition .cadre .composition__plat, h1 .composition .cadre .composition__plat, p .composition .cadre .composition__plat {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0px;
    margin-top: 10px;
    width: 450px;
  }
  body .composition .cadre .composition__commentaire, h1 .composition .cadre .composition__commentaire, p .composition .cadre .composition__commentaire {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 40px 10px 0px;
    width: 100%;
    font-size: 19px;
  }
  body #bouton_resa, h1 #bouton_resa, p #bouton_resa {
    width: 290px;
    height: 75px;
    font-size: 30px;
    margin: 100px auto 0px auto;
    display: block;
    border-radius: 100px;
    color: white;
    background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    border: white;
    -webkit-box-shadow: 1px 2px 10px rgba(182, 176, 176, 0.952);
            box-shadow: 1px 2px 10px rgba(182, 176, 176, 0.952);
    position: relative;
  }
  body #bouton_resa p, h1 #bouton_resa p, p #bouton_resa p {
    font-size: 24px;
  }
  body .foother, h1 .foother, p .foother {
    background: #292525;
    padding-left: 40px;
    position: relative;
    top: 1070px;
  }
  body .foother__titre, h1 .foother__titre, p .foother__titre {
    color: white;
    margin-left: 20px;
    font-family: 'shrikhandregular';
    font-size: 24px;
    padding-top: 30px;
    margin-bottom: 20px;
  }
  body .foother__nav, h1 .foother__nav, p .foother__nav {
    color: white;
    margin-left: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 160px;
    padding-bottom: 30px;
    font-size: 17px;
  }
  body .foother a, h1 .foother a, p .foother a {
    text-decoration: none;
    color: white;
  }
  body .foother .fa-handshake-angle, h1 .foother .fa-handshake-angle, p .foother .fa-handshake-angle {
    margin-right: 10px;
  }
  body .foother .fa-utensils, h1 .foother .fa-utensils, p .foother .fa-utensils {
    margin-right: 13px;
  }
}

@media (min-width: 993px) {
  body, h1, p {
    /*On accorde une taille unique pour le titre et le logo coeur*/
    /*On augmente la taille de l'écriture*/
  }
  body .fa-arrow-left, h1 .fa-arrow-left, p .fa-arrow-left {
    font-size: 40px;
    margin: 20px 0px 0px 20px;
    text-shadow: 3px 1px 3px #99E2D0;
  }
  body .logo, h1 .logo, p .logo {
    margin-top: -50px;
    padding-bottom: 25px;
  }
  body .image-main, body .menu, h1 .image-main, h1 .menu, p .image-main, p .menu {
    width: 992px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
  }
  body .menu, h1 .menu, p .menu {
    top: -130px;
  }
  body .menu__titre h1, h1 .menu__titre h1, p .menu__titre h1 {
    font-size: 50px;
  }
  body .menu .fa-heart, h1 .menu .fa-heart, p .menu .fa-heart {
    font-size: 45px;
  }
  body .composition__titre, h1 .composition__titre, p .composition__titre {
    font-size: 26px;
  }
  body .composition__prix, h1 .composition__prix, p .composition__prix {
    font-size: 22px;
  }
  body .composition__plat, h1 .composition__plat, p .composition__plat {
    font-size: 22px;
    white-space: nowrap;
    /*N'arrivant pas a définir un cadre plus grand pour décaler le texte, on utilise cette propriété plus une position absolute*/
  }
  body .composition__complémentaire, h1 .composition__complémentaire, p .composition__complémentaire {
    font-size: 22px;
    position: absolute;
    left: 400px;
  }
  body .composition__commentaire, h1 .composition__commentaire, p .composition__commentaire {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  body .foother, h1 .foother, p .foother {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    top: 1330px;
  }
  body__titre, h1__titre, p__titre {
    margin-left: 20px;
    font-size: 24px;
  }
  body .cadre, h1 .cadre, p .cadre {
    padding: 12px 10px 12px 10px;
  }
  body .foother, h1 .foother, p .foother {
    padding-left: 0px;
  }
  body .fa-utensils, h1 .fa-utensils, p .fa-utensils {
    padding-right: 2px;
  }
}
/*# sourceMappingURL=style_menu_a_la_francaise.css.map */