@media (max-width: 768px)                             
{     
      .reservation                                            /*Réservation avec formulaire*/
    {
        @include centrer;
        flex-direction: column;
        margin-top: 15px;
        background: $background;
        padding-bottom: 60px;

        
            .icone-plus-barre
            {
                @include centrer;
                background: rgba(231, 224, 224, 0.781);
                height: 50px;
                border-top: 3px solid rgba(94, 91, 91, 0.25);
                padding-left: 40px;

                .fa-location-dot
                {
                    font-size: map-get($taille-size,icone);
                    margin-right: 15px;
                    padding-top: 13px;
                    padding-left: 10px;
                    opacity: 0.8;
                }
            }
           
            .reservation__barre-recherche 
            {
                background: rgba(221, 218, 218, 0);
                border: 0px;
                font-size: 17px;
            }       
            
            .reservation__titre
            {
                margin: 40px $marge 20px $marge;
                text-align: center;
                @include titre (16px);
                line-height: map-get($interligne, h1);
                font-weight: bold;
            }    
            
            .reservation__texte
            {
                margin-left: auto;
                margin-right: auto;
                padding-left: 10px;
                padding-right: 10px;
                text-align: center;
                margin-top: 15px;
                max-width: 480px;
                opacity: 0.6;
                line-height: map-get($interligne,p);
                font-weight: normal;
                font-size: 18px;
            }
    }
    
    .fonctionnement                        
    {
        @include marge-auto;
        padding-left: $marge;
        padding-right: $marge;
        max-width: 513px;
        margin-top: 50px;
        position: relative;
        
        ul
        {
            counter-reset: compteur;
            border-radius: 20px;
            font-size: 20px; 
            list-style-type:none;
            padding-left: 10px;
            text-align: center;
            max-width: 100%;
            position: relative;
            margin-top: 30px;
        }

        &__titre 
        { 
            @include titre (22px); 
        }

        li                                                              /*Affichage de la puce + le cadre*/
        {
            @include logo-bouton (400px, 60px, map-get($taille-size,p), 30px, 0px, 30px, 0px, 20px, black);
            max-width: 100%;
            counter-increment: compteur;
            display: flex;
            line-height: 30px;
            background: $background; 
            align-items: center;
            box-shadow: $ombrage;
            @include titre (16px);

            &:hover
            {
                @include hover-couleur;
                .icone-fonctionnement {color: $couleur-pr; opacity: 1;}
            }
        }

        li::before
        {
            background:$couleur-pr;    
            content: counter(compteur);
            @include logo-bouton (26px, 28px, 16px, 0px, 0px, 0px, 0px, 50%);
            position: relative;
            left: -15px;
        }

        .icone-fonctionnement
        {
            font-size: map-get($taille-size,logo);
            margin-left: 5px;
            margin-right: 20px;
            opacity: 0.5;
        }
    }

    .main-accueil 
    {                        
        margin-top: 80px;
        background: $background;
        height: 1220px;
        padding-left: $marge;
        padding-right: $marge;
        position: relative;
        padding-top: 100px;
        margin-bottom: -1000px;
        
        h1
        {   
            @include titre(22px);
            position: absolute;
            top: 50px;
        }

        .carte
        {
            @include marge-auto;
            margin-bottom: 20px;
            box-shadow: $ombrage;
            border-radius: 25px;
            height: 245px;
            max-width: 500px;
            
            .la-palette, .note-enchantee, .la-francaise, .delice-des-sens
            {
                width: 100%;
                height: 180px;
                -o-object-fit: cover;
                   object-fit: cover;
                border-radius: 20px 20px 0px 0px;
                margin-bottom: 10px;
            }

            &__contenu{position: relative}

            &__titre
            {
                @include titre(16px);
                margin-left: 15px; 
                color: black;     
            }

            &__adresse
            {
                margin-left: 15px;
                color: black;
                font-size: map-get($taille-size, p);
            }

            .fa-heart
            {
                font-size: map-get($taille-size, coeur);
                opacity: 0.8;
                position: absolute;
                top: 8px;
                right: 20px;
                margin-bottom: 0px;
                color: black;

                &:hover
                {
                    &::after
                    {
                        opacity: 1;
                    }
                }
                &::after
                    {
                       @include animation-coeur;
                    }
        
            }

            a {text-decoration: none;}

            &__nouveau
            {
                position: absolute;
                background: $couleur-ter;
                border-radius: 5px;
                top: -180px;
                right: 15px;
                width: 80px;
                height: 30px;
                @include centrer(row, center);
                color:hsl(160, 86%, 22%);
                font-weight: bold;
                font-size: 14px;
                padding: 10px;
            }
        }
        
    }
      
}

@media (min-width: 769px) and (max-width: 992px)           /*Partie tablette*/
{
    .spinner                                                 
{
    -webkit-animation: body 3s;                                   
    animation: body 3s 3s forwards;
    background: white;
    position: absolute;
    width: 100%;
    height: 300%;
    z-index: 900;
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(1,.44,.61,1.01);
            animation-timing-function: cubic-bezier(.6,.38,.88,.66);
}

    .reservation__barre-recherche
    {
        font-size: map-get($taille-size-t,logo);
        border: 0px;
        background: $couleur-pr;
    }

    .fa-location-dot
    {
        font-size: map-get($taille-size,coeur);
        margin-right: 15px;
        padding-top: 7px;
        padding-left: 10px;  
    }

    .reservation__tablette              /*explorer les menus*/
    {
        margin-top: 45px;
        margin-left: $marge-t;
        width: 40%;
        height: 330px;
        box-shadow: $ombrage;
        border-radius: 25px;
        padding: 20px 20px 0px 20px;
        background:$background;
        position: relative;                     /*On joue avec les positions pour que le bouton ne change pas de position avec les marges du texte*/
    }

    .reservation__tablette h1
    {
        @include titre(map-get($taille-size-t,h1));
        text-align: center;
        line-height: 35px;
        margin-bottom: 30px;
    }

    .reservation__tablette p
    {
        text-align: center;
    }

    .reservation__texte 
    {
        font-size: map-get($taille-size-t,p);
        line-height: 25px;
    }
    
    .fonctionnement                     /*nav*/
    {
        position: absolute;
        right: 0px;
        top: 204px;
        width: 45%;
        height: 330px;
        margin-right: $marge-t;
        box-shadow: $ombrage;
        border-radius: 25px;
        padding-top: 5px;
        background:$background;
        @include titre (map-get($taille-size,h1));
        padding-top: 10px;
    }

    .fonctionnement__titre 
    {
        font-size: map-get($taille-size-t, h1);
        @include centrer;
    }

    ul
        {
            counter-reset: compteur;
            border-radius: 20px;
            font-size: 20px; 
            list-style-type:none;
            @include centrer(column,center);
            margin: 10px 10px 15px 10px;
            padding-left: 0px;
        }


        li                                                              /*Affichage de la puce + le cadre*/
        {
            @include logo-bouton (400px, 60px, map-get($taille-size,p), 15px, 0px, 10px, 0px, 15px, black);
            counter-increment: compteur;
            background: white; 
            box-shadow: $ombrage;
            @include titre(map-get($taille-size-t,p));
            @include centrer(row, center);
            width: 370px;
            max-width: 90%;
            position: relative; 
            padding-left: 35px;

            &:hover
            {
                @include hover-couleur;
                .icone-fonctionnement {color: $couleur-pr; opacity: 1;}
            }
        }

        li::before
        {
            background:$couleur-pr;    
            content: counter(compteur);
            @include logo-bouton (26px, 28px, 16px, 0px, 0px, 0px, 0px, 50%);
            position: absolute;
            left: -19px;
            top: 13px;
            @include centrer (row, center);
            width: 35px;
            height: 35px;
            margin-right: 10px;
        }

        .icone-fonctionnement
        {
            font-size: map-get($taille-size,logo);
            left: 35px;
            opacity: 0.5;
            position: absolute;
        }

        .icone-trop-grande{padding-left: 20px;}             /*Cette icone a une taille différente des autres et ajoute un décalage au texte*/
        
        .main-accueil
        {
           
            margin-bottom: 0px;
        }

        main                                                /*Partie repas*/
    {
        margin-top: 65px;
        background: $background;
        position: relative;
        padding: 90px $marge 0px $marge;
        
        h1
        {   
            @include titre(map-get($taille-size-t,h1));
            position: absolute;
            top: 20px;
            padding-right: 10%;
            padding-bottom: 2px;
            border-bottom: 10px solid $couleur-pr;
            border-bottom-style: double;
        }

        .rang-1, .rang-2
        {
            display: flex;
            justify-content: space-between;
        }

        .rang-2
        {
            padding-bottom: 50px;
        }

        .carte
        {
            box-shadow: $ombrage;
            border-radius: 20px;
            height: 280px;
            width: 400px;
            max-width: 100%;
            margin: 0px 20px 30px 20px;

        .la-palette, .note-enchantee, .la-francaise, .delice-des-sens
            {
                width: 400px;
                max-width: 100%;
                height: 200px;
                -o-object-fit: cover;
                   object-fit: cover;
                border-radius: 20px 20px 0px 0px;
                margin-bottom: 10px;
            }

            &__contenu{position: relative}

            &__titre
            {
                @include titre(19px);
                margin-left: 15px;  
                color: black;    
            }

            &__adresse
            {
                margin-left: 15px;
                color: black;
            }

            .fa-heart
            {
                font-size: map-get($taille-size, coeur);
                opacity: 0.8;
                position: absolute;
                top: 8px;
                right: 20px;
                margin-bottom: 0px;
                color: black;

                &:hover
                {
                    &::after
                    {
                        opacity: 1;
                    
                    }
                }
                &::after
                    {
                        @include animation-coeur;
                    }
            }

            a {text-decoration: none;}

            &__nouveau
            {
                position: absolute;
                background: $couleur-ter;
                border-radius: 10px;
                top: -200px;
                right: 15px;
                width: 105px;
                height: 30px;
                @include centrer(row, center);
                color:hsl(160, 86%, 22%);
                font-weight: bold;
                padding: 20px;
            }
        }
    }
       
}

@media (min-width: 993px)         
{

    .reservation__barre-recherche
    {
        font-size: map-get($taille-size-t,logo);
        border: 0px;
        background: $couleur-pr;
    }

    .fa-location-dot
    {
        font-size: map-get($taille-size,coeur);
        margin-right: 15px;
        padding-top: 7px;
        padding-left: 10px;  
    }

    .reservation__tablette              /*explorer les menus*/
    {
        margin-top: 45px;
        margin-left: 50%;                   /*On attribut une marge de 50% pour que l'élément soit responsif*/
        margin-right: 50%;
        width: 40%;
        max-width: 390px;
        height: 330px;
        box-shadow: $ombrage;
        border-radius: 25px;
        padding: 20px 20px 0px 20px;
        background:$background;
        position: absolute;                 /*On change la position en absolute avec une marge en pourcentage pour le responsive*/
        left: -450px;
    }

    .reservation__tablette h1
    {
        @include titre(map-get($taille-size-t,h1));
        text-align: center;
        line-height: 35px;
        margin-bottom: 40px;
        font-family: 'robotobold', verdana, arial, helvetica, sans-serif;
        font-weight: bold;
    }

    .reservation__tablette p
    {
        text-align: center;
    }

    .reservation__texte 
    {
        font-size: map-get($taille-size-t,p);
        line-height: 25px;
    }
    
    .fonctionnement                     /*nav*/
    {
        position: absolute;
        left: 50%;
        right: 50%;
        top: 204px;
        width: 45%;
        max-width: 465px;
        height: 330px;
        margin-right: $marge-t;
        box-shadow: $ombrage;
        border-radius: 25px;
        padding-top: 10px;
        background:$background;
        @include titre (map-get($taille-size,h1));
    }

    .fonctionnement__titre 
    {
        @include centrer;
        font-size: map-get($taille-size-t, h1);
    }

    ul
        {
            counter-reset: compteur;
            border-radius: 20px;
            font-size: 20px; 
            list-style-type:none;
            @include centrer(column,center);
            margin: 10px 10px 15px 10px;
            padding-left: 0px;

            .fonctionnement__titre
            {
                font-size: map-get($taille-size-t, icone);
            }
        }

        li                                                              /*Affichage de la puce + le cadre*/
        {
            @include logo-bouton (400px, 60px, map-get($taille-size,p), 15px, 0px, 10px, 0px, 15px, black);
            counter-increment: compteur;
            background: white; 
            box-shadow: $ombrage;
            @include titre(map-get($taille-size-t,p));
            @include centrer(row, center);
            width: 370px;
            max-width: 90%;
            position: relative; 
            padding-left: 20px;

            &:hover
            {
                @include hover-couleur;
                .icone-fonctionnement {color: $couleur-pr; opacity: 1;}
            }
        }

        li::before
        {
            background:$couleur-pr;    
            content: counter(compteur);
            @include logo-bouton (26px, 28px, 16px, 0px, 0px, 0px, 0px, 50%);
            position: absolute;
            left: -19px;
            top: 13px;
            @include centrer(row, center);
            width: 35px;
            height: 35px;
        }

        .icone-fonctionnement
        {
            font-size: map-get($taille-size,logo);
            left: 35px;
            opacity: 0.5;
            position: absolute;
        }

        .icone-trop-grande{padding-left: 20px;}             /*Cette icone a une taille différente des autres et ajoute un décalage au texte*/
      
        .main-accueil
        {
            padding-top: 100px;
            padding-bottom: 40px;
            background: $background;
            width: 100%;
            margin-left: 5%;
            margin-right: 5%;
            border-radius: 10px;
        }

        main                                                /*Partie repas*/
    {
        margin-top: 445px;
        background: $background-foother;
        position: relative;
        padding: 50px 0px 30px 0px;
        @include centrer;
        
        h1
        {   
            @include titre(map-get($taille-size-t,h1));
            position: absolute;
            top: 70px;
            padding-right: 10%;
            padding-bottom: 2px;
            border-bottom: 10px solid $couleur-pr;
            border-bottom-style: double;
        }

        .rang-1, .rang-2
        {
            display: flex;
            @include centrer;
            margin-left: 5%;
            margin-right: 5%;
        }

        .carte
        {
            box-shadow: $ombrage;
            border-radius: 20px;
            height: 280px;
            margin: 0px 20px 30px 20px;
            

        .la-palette, .note-enchantee, .la-francaise, .delice-des-sens
            {
                width: 650px;
                max-width: 100%;
                height: 200px;
                -o-object-fit: cover;
                   object-fit: cover;
                border-radius: 20px 20px 0px 0px;
                margin-bottom: 10px;
            }

            &__contenu{position: relative}

            &__titre
            {
                @include titre(19px);
                margin-left: 15px;   
                color: black;   
            }

            &__adresse
            {
                margin-left: 15px;
                color: black;
            }

            a {text-decoration: none;}

            .fa-heart
            {
                font-size: map-get($taille-size, coeur);
                opacity: 0.8;
                position: absolute;
                top: 8px;
                right: 20px;
                margin-bottom: 0px;
                color: black;
                z-index: 1;

                &:hover
                {
                    &::after
                    {
                        opacity: 1;
                        
                    }
                }
                &::after
                    {
                        @include animation-coeur
                    }

            }


            &__nouveau
            {
                position: absolute;
                background: $couleur-ter;
                border-radius: 10px;
                top: -200px;
                right: 15px;
                width: 105px;
                height: 30px;
                @include centrer(row, center);
                color:hsl(160, 86%, 22%);
                font-weight: bold;
            }
        }
    }       
}

