@media (max-width: 768px)  
{
    .menu
    {
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        position: relative;                             /*Il suffit de mettre une position relative, monter la balise et lui accorder un border-radius pour avoir l'effet demandé*/
        bottom: 60px;
        background: $background;
        padding-bottom: 100px;
        margin-bottom: -60px;

        &__titre
        {
            display: flex;
            justify-content: space-between;

            h1
            {
                font-family: 'shrikhandregular', verdana, arial, helvetica, sans-serif;     
                padding-top: 40px;
                margin-left: $marge;
                font-size: 2rem;                            
            }
        

            .fa-heart
            {
                font-size: 30px;
                padding-top: 40px;
                margin-right: 35px;
                opacity: 0.8;

                &:hover
                {
                    &::after
                    {
                        opacity: 1;
                    }
                }
                &::after
                    {
                        @include animation-coeur (40px, 35px);
                    }
        
            }
        }

        .composition
        {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: $marge;

            &__titre                    /*On adopte une taille de polcie et de bordure en vw pour s'adapter à la résolution*/
            {
                text-transform: uppercase;
                font-size: map-get($taille-size, p);
                font-weight: 200;
                opacity: 0.7;
                margin-top: 30px;
                @include souligner (4px solid $couleur-ter, 5px, 40px);
            }
        }

        .cadre                          /*On ne fait pas de nesting car la lecture deviendrait trop complexe*/
            {
                background: white;
                border-radius: 15px;
                box-shadow: $ombrage;
                margin: 5px $marge 10px 0px;

               .composition__plat 
               {
                   padding-left: 10px;
                   margin-bottom: -8px;
                   margin-top: 10px;  
               }

               .composition__commentaire
                {
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 20px 10px 10px;
                }
            }
    }    
}
   

@media (min-width: 480px)                               /*On rajoute cette media pour que le titre reste en accord avec la maquette mais pour que l'espace dans le menu ne soit pas trop vide*/
{
    .menu h1 {font-size: 6vw};
}  


@media (min-width: 769px) and (max-width: 992px)      
{
    .image-main                                        /*On définit une taille unique pour l'image qu'on centre*/    
    {
    width: 100%;
    @include marge-auto;

        .la-francaise-menu
        {
            width: 100%;
        }
    }

    main
    {
        margin-top: 0px;                                /*Le bloc main se supperpose au bloc menu, pour ne pas le voir nous lui definissions des marges à 0 et changeons la couleur de fond*/
        background: $background;
        position: relative;
        padding: 0px;
        margin-bottom: 0px;
        height: 0px;
    }

    .menu
    {
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
        position: relative;                             /*Il suffit de mettre une position relative, monter la balise et lui accorder un border-radius pour avoir l'effet demandé*/
        bottom: 90px;
        background: $background;
        padding-top: 10px;
        padding-bottom: 150px;

        h1
        {
            font-family: 'shrikhandregular', verdana, arial, helvetica, sans-serif;     
            padding-top: 30px;
            margin-left: $marge-t;
            margin-bottom: 30px;
            font-size: 5vw;                 /*On diminue la taille du titre ainsi que de l'icone*/                    /*On utilise cette police pour que le titre s'accorde à la résolution afin que l'écran ne paraisse pas trop vide en grande resolution*/
            border-bottom: 0px;
            padding-right: 0px;
        }

            .fa-heart                                       /*On enlève le space-between pour placer l'icone en absolute*/
            {
                font-size: 4.4vw;
                position: absolute;
                right: $marge-t;
                top: $marge-t;
                opacity: 0.8;

                &:hover
                {
                    &::after
                    {
                        opacity: 1;
                    
                    }
                }
                &::after
                    {
                        @include animation-coeur;
                    }
        
            }
        }

        article{margin-bottom: 70px;}

        .composition
        {
            flex-direction: column;
            margin-left: $marge;
            margin-right: $marge;

            &__titre                    /*On adopte une taille de polcie et de bordure en vw pour s'adapter à la résolution*/
            {
                text-transform: uppercase;
                font-size: map-get($taille-size-t, p);
                font-weight: 200;
                opacity: 0.7;
                margin-left: $marge;
                @include souligner (4px solid $couleur-ter, 5px, 40px);
            }

            .cadre                                                      /*Nous arrêtons le nesting au bloc parent pour une meilleure lisibilité*/
            {
                background: white;
                border-radius: 15px;
                box-shadow: $ombrage;
                margin: 5px $marge 20px $marge;
                display: flex;

                .composition__plat 
               {
                   padding-left: $marge;
                   padding-right: 20px;
                   margin-bottom: 0px;
                   margin-top: 10px;
                   width: 450px;  
               }
               
                .composition__commentaire
                {
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 40px 10px 0px;
                    width: 100%;
                    font-size: map-get($taille-size-t, p);
                }
            }
        }      
}

@media (min-width:993px)
{
    body {background: $background-foother}              /*Nous donnons une impression de carte de menu en ajoutant un fond sombre*/

    main
    {
    margin-top: 0px;                                /*Le bloc main se supperpose au bloc menu, pour ne pas le voir nous lui definissions des marges à 0 et changeons la couleur de fond*/
    background: $background;
    position: relative;
    padding: 0px;
    margin-bottom: 0px;
    height: 0px;
    }

    .image-main                                        /*On définit une taille unique pour l'image qu'on centre*/    
    {
    width: 992px;
    @include marge-auto;

    .la-francaise-menu
    {
        width: 992px;
    }
    }

    .menu
    {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    position: relative;                             /*Il suffit de mettre une position relative, monter la balise et lui accorder un border-radius pour avoir l'effet demandé*/
    top: -130px;
    background: $background;
    padding-top: 10px;
    padding-bottom: 150px;
    @include marge-auto;
    width: 992px;

    h1
    {
        font-family: 'shrikhandregular', verdana, arial, helvetica, sans-serif;     
        padding-top: 30px;
        margin-left: $marge-t;
        font-size: 50px;                 /*On diminue la taille du titre ainsi que de l'icone*/                    /*On utilise cette police pour que le titre s'accorde à la résolution afin que l'écran ne paraisse pas trop vide en grande resolution*/
        border-bottom: 0px;
        padding-right: 0px;
        margin-bottom: 40px;
    }

        .fa-heart                                       /*On enlève le space-between pour placer l'icone en absolute*/
        {
            font-size: 45px;
            position: absolute;
            right: $marge-t;
            top: $marge-t;
            opacity: 0.8;

            &:hover
                {
                    &::after
                    {
                        opacity: 1;
                    
                    }
                }
                &::after
                    {
                        @include animation-coeur;
                    }
        }
    }

   
    article{margin-bottom: 80px; margin-right: $marge-t;}

    .composition
    {
        flex-direction: column;
        margin: 0px $marge 0px $marge;
        width: 100%;                                            /*Nous permet de mettre l'animation de côté sans que cela se voit*/
        overflow: hidden;

        &__titre                    /*On adopte une taille de polcie et de bordure en vw pour s'adapter à la résolution*/
        {
            text-transform: uppercase;
            font-size: 26px;
            font-weight: 200;
            opacity: 0.7;
            margin-left: $marge;
            margin-top: 30px;
            @include souligner (4px solid $couleur-ter, 5px, 40px);
        }

        
        .cadre                                                      /*Nous arrêtons le nesting au bloc parent pour une meilleure lisibilité*/
        {
            background: white;
            border-radius: 15px;
            box-shadow: $ombrage;
            margin: 10px $marge 20px $marge;
            display: flex;
            padding: 10px 0px 10px 0px;
            position: relative;
            cursor: url(../images/souris.png), pointer;
            

            &:hover                             /*Nous sommes obligé de faire 2 animations distinctes sinon le cadre tourne avec*/
            {
                &::before
                {
                    transform: translateX(-30px) rotate(1turn);
                }
                &::after
                {
                    transform: translateX(0);
                    margin-left: 100px;
                }
            }
            &::before
            {
                content: "\f058";
                font-family: fontawesome;
                font-size: 50px;
                position: absolute;
                right: 0px;
                color: white;
                transform: translateX(200%) rotate(0deg); 
                transition: all 2s;
                z-index: 10;
            }
            &::after
            {   
                    content:"";
                    position: relative;
                    background: $couleur-ter;
                    color: white;
                    margin: -10px -2px -10px 0px;
                    width: 210px;
                    height: 70px;
                    border-radius: 0px 15px 15px 0px;
                    transform: translateX(200%); 
                    transition: all 2s;
            }
           
           .composition__plat 
           {
               padding-left: $marge;
               padding-right: 20px;
               margin-bottom: 0px;
               margin-top: 10px;
               width: 600px;  
               font-size: 22px;
           }
           
            .composition__commentaire
            {
                display: flex;
                justify-content: space-between;
                padding: 10px 10px 10px 0px;
                margin-right: -90px;
                width: 800px;
            }

            .composition__prix {font-size: 22px;}

            .composition__complémentaire  
            {
                font-size: 22px;
                font-weight: 100;
            }
        }
        
    }      
}  

