@media (max-width: 768px)  
{    
    .la-francaise-menu
    {
        width: 100%;
        margin-top: 15px;
        height: 320px;
        -o-object-fit: cover;
           object-fit: cover;
    }

    .menu
    {
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        position: relative;                             /*Il suffit de mettre une position relative, monter la balise et lui accorder un border-radius pour avoir l'effet demandé*/
        bottom: 40px;
        background: $background;
        padding-bottom: 100px;
        margin-bottom: -60px;
        
        &__titre
        {
            display: flex;
            justify-content: space-between;

            h1
            {
                font-family: 'shrikhandregular', verdana, arial, helvetica, sans-serif;     
                padding-top: 40px;
                margin-left: $marge;
                font-size: 2rem;   
                margin-right: 30px;                         
            }
        

            .fa-heart
            {
                font-size: 30px;
                padding-top: 40px;
                margin-right: 35px;
                opacity: 0.8;

                &:hover
                {
                    &::after
                    {
                        opacity: 1;
                    }
                }
                &::after
                    {
                        @include animation-coeur (40px, 35px);
                    }
        
            }
        }

        .composition
        {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: $marge;

            &__titre                    /*On adopte une taille de polcie et de bordure en vw pour s'adapter à la résolution*/
            {
                text-transform: uppercase;
                font-size: 18px;
                font-weight: 500;
                opacity: 0.7;
                margin-top: 30px;
                @include souligner (4px solid $couleur-ter, 5px, 40px);
            }
        }

        .cadre                          /*On ne fait pas de nesting car la lecture deviendrait trop complexe*/
            {
                background: white;
                position: relative;
                border-radius: 15px;
                box-shadow: $ombrage;
                margin: 5px $marge 10px 0px;
                height: 70px;
                overflow: hidden;
                cursor: url(../images/souris.png), pointer;
                
                &:hover                             /*Nous sommes obligé de faire 2 animations distinctes sinon le cadre tourne avec*/
                {
                    &::before
                    {
                        transform: translateX(-20px) rotate(1turn);             /*Pour réussir l'animation nous plaçons le prix en absolute et imposons une marge au texte qui compose le cadre*/
                    }
                    &::after
                    {
                        transform: translateX(0);
                    }
                    .composition__prix                      
                    {   
                        right: $marge + 70px;  
                    }
                    .composition__plat, .composition__complémentaire
                    {
                        padding-right: 130px;
                    }
                }
                &::before
                {
                    content: "\f058";
                    font-family: fontawesome;
                    font-size: 30px;
                    position: absolute;
                    right: 0px;
                    top: 20px;
                    color: white;
                    transform: translateX(200%) rotate(0deg); 
                    transition: all 0.8s;
                    z-index: 9;
                }
                &::after                 
                {    
                    content:"";
                    position: absolute;
                    display: block;
                    width: 70px;
                    height: 70px;                           
                    background: $couleur-ter;
                    right: 0%;
                    top: 0;
                    border-radius: 0px 15px 15px 0px;
                    transform: translateX(200%); 
                    transition: all 0.8s;
                    z-index: 8;    
                }      


               .composition__plat 
               {
                   padding-left: 10px;
                   margin-bottom: -8px;
                   margin-top: 10px; 
                   position: relative;
                   @include rognement (100%);
                   padding-right: 60px;
                   transition: 0.8s;
               }

                .composition__complémentaire
                {
                    
                    padding: 10px 60px 10px 10px;
                    position: relative;
                    @include rognement (100%);
                    transition: 0.8s;
                }

                .composition__prix 
                {
                   position: absolute;
                   bottom: 10px;
                   right: $marge;
                   transition: 0.8s;
                }
            }
    }    
}
   

@media (min-width: 480px) and (max-width: 768px)                          /*On rajoute cette media pour que le titre reste en accord avec la maquette mais pour que l'espace dans le cadre ne soit pas trop vide*/
{
    .menu h1 {font-size: 6.5vw};
                                                    /*Permet de mieux remplir le cadre en responsiv tout en respectant le design de la maquette*/
    .composition__prix, .composition__plat, .composition__complémentaire, .composition__titre{font-size: 1.2em !important;}

    .fa-heart {position: absolute; right: 0px;}

    &::after {right: 0px !important}

    .cadre:hover::after {width: 100px;}          /*Nous aumentons la taille du cadre en bleu et ajustons les marges des éléments associés*/
    .cadre:hover::before {font-size: 45px; top: 15px; right: 1.5%;}
    .cadre:hover .composition__prix {right: 100px + $marge !important;}
    .cadre:hover .composition__complémentaire {padding-right: 160px !important;}
}           


@media (min-width: 769px) and (max-width: 992px)      
{
    .image-main                                        /*On définit une taille unique pour l'image qu'on centre*/    
    {
    width: 100%;
    @include marge-auto;

        .la-francaise-menu, .menu_enchante                                      
        {
            width: 100%;
            height: 500px;
        -o-object-fit: cover;
           object-fit: cover;
        }
    }

    main
    {
        margin-top: 0px;                                /*Le bloc main se supperpose au bloc menu, pour ne pas le voir nous lui definissions des marges à 0 et changeons la couleur de fond*/
        background: $background;
        position: relative;
        padding: 0px;
        margin-bottom: 0px;
        height: 0px;
    }

    .menu
    {
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
        position: relative;                             /*Il suffit de mettre une position relative, monter la balise et lui accorder un border-radius pour avoir l'effet demandé*/
        bottom: 90px;
        background: $background;
        padding-top: 10px;
        padding-bottom: 150px;

        h1
        {
            font-family: 'shrikhandregular', verdana, arial, helvetica, sans-serif;     
            padding-top: 30px;
            margin-left: $marge-t;
            margin-bottom: 30px;
            font-size: 5vw;                 /*On diminue la taille du titre ainsi que de l'icone*/                    /*On utilise cette police pour que le titre s'accorde à la résolution afin que l'écran ne paraisse pas trop vide en grande resolution*/
            border-bottom: 0px;
            padding-right: 0px;
        }

            .fa-heart                                       /*On enlève le space-between pour placer l'icone en absolute*/
            {
                font-size: 4.4vw;
                position: absolute;
                right: $marge-t;
                top: $marge-t;
                opacity: 0.8;

                &:hover
                {
                    &::after
                    {
                        opacity: 1;
                    
                    }
                }
                &::after
                    {
                        @include animation-coeur;
                    }
        
            }
        }

        article{margin-bottom: 70px;}

        .composition
        {
            flex-direction: column;
            margin-left: $marge;
            margin-right: $marge;

            &__titre                    /*On adopte une taille de polcie et de bordure en vw pour s'adapter à la résolution*/
            {
                text-transform: uppercase;
                font-size: map-get($taille-size-t, p);
                font-weight: 200;
                opacity: 0.7;
                margin-left: $marge;
                @include souligner (4px solid $couleur-ter, 5px, 40px);
            }

            .cadre                                                      /*Nous arrêtons le nesting au bloc parent pour une meilleure lisibilité*/
            {
                background: white;
                border-radius: 15px;
                box-shadow: $ombrage;
                margin: 5px $marge 20px $marge;
                padding-left: $marge;
                padding-right: $marge;
                display: flex;
                position: relative;
                width: 96%;
                cursor: url(../images/souris.png), pointer;
                overflow: hidden;
                
                &:hover                             /*Nous sommes obligé de faire 2 animations distinctes sinon le cadre tourne avec*/
                {
                    &::before
                    {
                        transform: translateX(-160%) rotate(1turn);
                    }
                    &::after
                    {
                        transform: translateX(0);
                    }
                    .composition__prix                      
                    {
                        margin-right: 100px;
                        margin-left: $marge;
                    }
                }

                &::before                       /*Nous adaptons la taille du bloc bleu ainsi que la position du logo en fonction de la taille du cadre*/
                {
                content: "\f058";
                font-family: fontawesome;
                font-size: 30px;
                position: absolute;
                right: -10px;
                top: 5px;
                color: white;
                transform: translateX(200%) rotate(0deg); 
                transition: all 0.8s;
                z-index: 9;
                }
                
                &::after                
                {   
                    content:"";
                    position: absolute;
                    width: 100px;
                    height: 40px;
                    background: $couleur-ter;
                    right: 0px;
                    border-radius: 0px 15px 15px 0px;
                    transform: translateX(200%); 
                    transition: all 0.8s;
                    z-index: 8;
                }

                .composition__plat 
               {
                   min-width: 40%;                  /*On applique des pourcentages pour que le cadre ne bouge pas lors de l'animation et nous permet une bonne répartition du texte dans le cadre*/
                   white-space: nowrap;
                   margin: 7px 40px 7px 0px;
                   font-size: map-get($taille-size-t, p);
               }
               
                .composition__complémentaire
                {
                    margin-top: 7px;
                    @include rognement (490px);
                    font-size: map-get($taille-size-t, p);               
                }

                .composition__prix 
                {
                    padding-top: 7px;
                    font-size: map-get($taille-size-t, p);
                    transition: 0.8s;
                }
            }
        }      
}

@media (min-width:993px)
{
    body {background: $background-foother}              /*Nous donnons une impression de carte de menu en ajoutant un fond sombre*/

    main
    {
    margin-top: 0px;                                /*Le bloc main se supperpose au bloc menu, pour ne pas le voir nous lui definissions des marges à 0 et changeons la couleur de fond*/
    background: $background;
    position: relative;
    padding: 0px;
    margin-bottom: 0px;
    height: 0px;
    }

    .image-main, .menu_enchante                                         /*On définit une taille unique pour l'image qu'on centre*/    
    {
    width: 992px;
    @include marge-auto;

        .la-francaise-menu
        {
        width: 992px;
        height: 550px;
        -o-object-fit: cover;
           object-fit: cover;
        }
    }

    .menu
    {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    position: relative;                             /*Il suffit de mettre une position relative, monter la balise et lui accorder un border-radius pour avoir l'effet demandé*/
    top: -130px;
    background: $background;
    padding-top: 10px;
    padding-bottom: 150px;
    @include marge-auto;
    width: 992px;

    h1
    {
        font-family: 'shrikhandregular', verdana, arial, helvetica, sans-serif;     
        padding-top: 30px;
        margin-left: $marge-t;
        font-size: 50px;                 /*On diminue la taille du titre ainsi que de l'icone*/                    /*On utilise cette police pour que le titre s'accorde à la résolution afin que l'écran ne paraisse pas trop vide en grande resolution*/
        border-bottom: 0px;
        padding-right: 0px;
        margin-bottom: 40px;
    }

        .fa-heart                                       /*On enlève le space-between pour placer l'icone en absolute*/
        {
            font-size: 45px;
            position: absolute;
            right: $marge-t;
            top: $marge-t;
            opacity: 0.8;

            &:hover
                {
                    &::after
                    {
                        opacity: 1;
                    
                    }
                }
                &::after
                    {
                        @include animation-coeur;
                    }
        }
    }

   
    article{margin-bottom: 80px; margin-right: $marge-t;}

    .composition
    {
        flex-direction: column;
        margin: 0px $marge 0px $marge;
        width: 100%;                                            /*Nous permet de mettre l'animation de côté sans que cela se voit*/
        

        &__titre                    /*On adopte une taille de polcie et de bordure en vw pour s'adapter à la résolution*/
        {
            text-transform: uppercase;
            font-size: map-get($taille-size-t, icone);
            font-weight: 200;
            opacity: 0.7;
            margin-left: $marge;
            margin-top: 30px;
            @include souligner (4px solid $couleur-ter, 5px, 40px);
        }

        
        .cadre                                                      /*Nous arrêtons le nesting au bloc parent pour une meilleure lisibilité*/
        {
            background: white;
            border-radius: 15px;
            box-shadow: $ombrage;
            margin: 10px $marge-t 20px $marge;
            display: flex;
            padding: 10px 0px 10px 0px;
            position: relative;
            cursor: url(../images/souris.png), pointer;
            width: 96%;                                             /*Nous devons appliquer un width ainsi qu'un overflow pour que l'animation sorte du cadre et non pas du menu*/
            overflow: hidden;

            &:hover                             /*Nous sommes obligé de faire 2 animations distinctes sinon le cadre tourne avec*/
            {
                &::before
                {
                    transform: translateX(-30px) rotate(1turn);
                }
                &::after
                {
                    transform: translateX(0);
                }

                .composition__prix                      /*Pour que le texte se décale nous créons unne marge en hover avec un effet ed transition sur la classe*/
                {
                    margin-right: 130px;
                }
            }

            &::before
            {
                content: "\f058";
                font-family: fontawesome;
                font-size: 50px;
                position: absolute;
                right: 0px;
                top: 7px;
                color: white;
                transform: translateX(200%) rotate(0deg); 
                transition: all 0.8s;
                z-index: 9;
            }
            &::after
            {   
                    content:"";
                    position: absolute;
                    width: 110px;
                    background: $couleur-ter;
                    margin-top: -10px;
                    margin-bottom: -10px;
                    right: 0px;
                    height: 63px;
                    border-radius: 0px 15px 15px 0px;
                    transform: translateX(200%); 
                    transition: all 0.8s;
                    z-index: 8;
            }

            
           .composition__plat 
           {
               padding-left: $marge;
               margin: 7px 75px 7px 0px;
               width: 300px;                            /*On accorde une taille suffisante pour que les complémentaires soient alignés, ensuite on peut voir pour une marge supplémentaire*/
               min-width: 300px; 
               font-size: map-get($taille-size-t,p);
               white-space: nowrap;
           }

            .composition__complémentaire  
            {
                font-size: map-get($taille-size-t,p);
                font-weight: 100;
                margin-top: 7px;
                margin-right: 30px;
                @include rognement (430px);
            }

            .composition__prix 
            {
                font-size: map-get($taille-size-t,p);
                padding-top: 7px;
                transition: 0.8s;
            }
        }
        
    }      
}  

