@font-face {                                                                      /*Paramètres de la police*/
    font-family: 'robotoregular';
    src: url('../police/robotto/roboto-regular-webfont.eot');
    src: url('../police/robotto/roboto-regular-webfont.eot') format('embedded-opentype'),
         url('../police/robotto/roboto-regular-webfont.woff2') format('woff2'),
         url('../police/robotto/roboto-regular-webfont.woff') format('woff'),
         url('../police/robotto/roboto-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  
  }
  
  @font-face {
    font-family: 'robotobold';
    src: url('../police/robottobold/roboto-bold-webfont.eot');
    src: url('../police/robottobold/roboto-bold-webfont.eot') format('embedded-opentype'),
         url('../police/robottobold/roboto-bold-webfont.woff2') format('woff2'),
         url('../police/robottobold/roboto-bold-webfont.woff') format('woff'),
         url('../police/robottobold/roboto-bold-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

  
  @font-face {
    font-family: 'shrikhandregular';
    src: url('../police/srilankaise/shrikhand-regular-webfont.eot');
    src: url('../police/srilankaise/shrikhand-regular-webfont.eot') format('embedded-opentype'),
         url('../police/srilankaise/shrikhand-regular-webfont.woff2') format('woff2'),
         url('../police/srilankaise/shrikhand-regular-webfont.woff') format('woff'),
         url('../police/srilankaise/shrikhand-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  
  } 
  
  * {                                                                 /*Définition du border-box*/ 
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  

  body, h1, p { margin: 0px;}                                                             /*Définition des paramètres globaux*/
     
  p, h2, h3{font-family: 'robotoregular', verdana, arial, helvetica, sans-serif;}

  
    @media (min-width: 769px)                                    /*Base pour ordinateur et tablette*/
{
    p{font-size: map-get($taille-size-t,p);}
    h1{font-size: map-get($taille-size-t,h1);}
}
   