@font-face {                                                                      /*Paramètres de la font*/
    font-family: 'robotoregular';
    src: url('../font/robotto/roboto-regular-webfont.eot');
    src: url('../font/robotto/roboto-regular-webfont.eot') format('embedded-opentype'),
         url('../font/robotto/roboto-regular-webfont.woff2') format('woff2'),
         url('../font/robotto/roboto-regular-webfont.woff') format('woff'),
         url('../font/robotto/roboto-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  
  }
  
  @font-face {
    font-family: 'robotobold';
    src: url('../font/robottobold/roboto-bold-webfont.eot');
    src: url('../font/robottobold/roboto-bold-webfont.eot') format('embedded-opentype'),
         url('../font/robottobold/roboto-bold-webfont.woff2') format('woff2'),
         url('../font/robottobold/roboto-bold-webfont.woff') format('woff'),
         url('../font/robottobold/roboto-bold-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

  
  @font-face {
    font-family: 'shrikhandregular';
    src: url('../font/srilankaise/shrikhand-regular-webfont.eot');
    src: url('../font/srilankaise/shrikhand-regular-webfont.eot') format('embedded-opentype'),
         url('../font/srilankaise/shrikhand-regular-webfont.woff2') format('woff2'),
         url('../font/srilankaise/shrikhand-regular-webfont.woff') format('woff'),
         url('../font/srilankaise/shrikhand-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  
  } 
  
  * {                                                                 /*Définition du border-box*/ 
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  

  body, h1, p { margin: 0px;}                                                             /*Définition des paramètres globaux*/
     
  p, h2, h3{font-family: 'robotoregular', verdana, arial, helvetica, sans-serif;}






 
                              
   