@media (max-width: 768px)  
{
    .header
    {
    @include centrer;
    margin-top: 30px;
    }

    .fa-arrow-left                                      /*en tete*/
    {
    font-size: map-get($taille-size, coeur);
    opacity: 0.8;
    position: absolute;
    left: $marge;
    text-decoration: none;
    color: black;
    }

    .logo{width: 220px;}

    .la-francaise-menu                                      /*l'image de la section*/
    {
    max-width: 100%;
    margin-top: 15px;
    }
}

@media (min-width: 769px) and (max-width: 992px)
{
    .header
    {
    @include centrer; 
    margin-top: 20px;  
    margin-bottom: 10px;                              
    }

    .fa-arrow-left                                     
    {
        font-size:40px;
        margin: 20px 0px 0px $marge;
        text-shadow: 3px 1px 3px black;        
        color: black;
        position: absolute;
        left: $marge-t;
    }

    .logo
    {
        padding-bottom: 25px;
        @include logo-bouton(400px, auto, 17px, 20px);            /*Au vu de la place disponible, on agrandit le logo*/
    }

}

@media (min-width:993px)
{
    .header
    {
    @include centrer;
    padding-top: 50px;
    background: white;
    width: 992px;
    @include marge-auto;
    padding-bottom: 30px;
    
    }

    .fa-arrow-left                                    
        {
        font-size:40px;
        text-shadow: 3px 1px 3px black;        
        color: black;
        position: relative;
        left: -280px;    
        
        
        }

    .logo
    {
        padding-bottom: 25px;
        @include logo-bouton(400px, auto, 17px, -50px);
    }
}