@media (max-width: 419px)
{

     .fa-burger
    {
    transform: rotateY(0deg);
            -webkit-animation: fa-burger;
                    animation: fa-burger 3s linear forwards;
                    font-size: 100px;
                    position: absolute;
                    margin-left: 15%;
                    top: 15%;
                    z-index: 900;
                    opacity: 1;
                    background: $couleur-ter;
                    border-radius: 50%;
                    padding: 60px;
    }
}


@media (min-width: 420px) and (max-width: 500px)
{
     .fa-burger
    {
    transform: rotateY(0deg);
            -webkit-animation: fa-burger;
                    animation: fa-burger 3s linear forwards;
                    font-size: 100px;
                    position: absolute;
                    left: 26%;
                    top: 15%;
                    z-index: 900;
                    opacity: 1;
                    background: $couleur-ter;
                    border-radius: 50%;
                    padding: 60px;
    }
}

@media (min-width: 501px) and (max-width: 600px)
{
    .fa-burger
   {
   transform: rotateY(0deg);
           -webkit-animation: fa-burger;
                   animation: fa-burger 3s linear forwards;
                   font-size: 100px;
                   position: absolute;
                   left: 30%;
                   top: 15%;
                   z-index: 900;
                   opacity: 1;
                   background: $couleur-ter;
                   border-radius: 50%;
                   padding: 60px;
   }
}

@media (min-width: 601px) and (max-width: 991px)                                         /*Nous sommes obligé de réaliser un media sinon le logo ne sera pas centré en fonction de la résolution*/
{
    .fa-burger
    {
    transform: rotateY(0deg);
            -webkit-animation: fa-burger;
                    animation: fa-burger 3s linear forwards;
                    font-size: 100px;
                    position: absolute;
                    right: 35%;
                    top: 10%;
                    z-index: 900;
                    opacity: 1;
                    background: $couleur-ter;
                    border-radius: 50%;
                    padding: 60px;
    }
}

@media (min-width:992px)
{
    .fa-burger
    {
    transform: rotateY(0deg);
            -webkit-animation: fa-burger;
                    animation: fa-burger 3s linear forwards;
                    font-size: 100px;
                    position: absolute;
                    left: 40%;
                    top: 30%;
                    z-index: 900;
                    opacity: 1;
                    background: $couleur-ter;
                    border-radius: 50%;
                    padding: 60px;
                    
    }
}

@media (min-width: 993px)         
{
    .spinner                                                 
        {
          -webkit-animation: body 3s;                                   
          animation: body 2.5s 3s forwards;
          background: white;
          position: absolute;
          width: 100%;
          height: 300%;
          z-index: 900;
          opacity: 1;
          -webkit-animation-timing-function: cubic-bezier(1,.44,.61,1.01);
                  animation-timing-function: cubic-bezier(.6,.38,.88,.66);
        }
}

@media (min-width: 769px) and (max-width: 992px)          
{
    .spinner                                                 
        {
        -webkit-animation: body 3s;                                   
        animation: body 2.5s 3s forwards;
        background: white;
        position: absolute;
        width: 100%;
        height: 300%;
        z-index: 900;
        opacity: 1;
        -webkit-animation-timing-function: cubic-bezier(1,.44,.61,1.01);
        animation-timing-function: cubic-bezier(.6,.38,.88,.66);
        }
}


@media (max-width: 768px)                             
{     
    .spinner                                                 
        {
        -webkit-animation: body 3s;                                   
        animation: body 2.5s 3s forwards;
        background: white;
        position: absolute;
        width: 100%;
        height: 300%;
        z-index: 900;
        opacity: 1;
        -webkit-animation-timing-function: cubic-bezier(1,.44,.61,1.01);
        animation-timing-function: cubic-bezier(.6,.38,.88,.66);
        }
}

