@-webkit-keyframes body 
{
    0%{
        opacity: 1;
    }
    99%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(-100%);
    }
}

@keyframes body 
{
    0%{
        opacity: 1;
    }
    80%{
        transform: translateY(100%);
    }
    99%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: scale(0);
    }
}

@-webkit-keyframes fa-burger 
{
    0%{
        transform: rotateY(0deg);
        color: $couleur-sec;
        opacity: 1;
    }
    99%{
        opacity: 1;
    }
    100%{
        transform: rotateY(1turn);
        opacity: 0;
        color: $couleur-pr;
    }
}


@keyframes fa-burger 
{
    0%{
        transform: rotateY(0deg);
        color: $couleur-sec;
        opacity: 1;
    }
    99%{
        opacity: 1;
    }
    100%{
        transform: rotateY(1turn);
        opacity: 0;
        color: $couleur-pr;
    }
}

.composition                                /*animation de l'entrée*/
{
    -webkit-animation: entree 3s;
            animation: entree 3s;
}

@-webkit-keyframes entree
{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
        -webkit-animation-timing-function: cubic-bezier(0,.97,.72,.95);
                animation-timing-function: cubic-bezier(0,1.44,.72,.95);
    }
}



@keyframes entree
{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
        -webkit-animation-timing-function: cubic-bezier(0,.97,.72,.95);
                animation-timing-function: cubic-bezier(0,1.44,.72,.95);
    }
}

.composition--plat                          /*animation des plats*/
{
    -webkit-animation: plat 3s 5s;
            animation: plat 3s 5s forwards;
            opacity: 0;
}

@-webkit-keyframes plat
{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
        -webkit-animation-timing-function: cubic-bezier(0,.97,.72,.95);
                animation-timing-function: cubic-bezier(0,1.44,.72,.95);
    }
}

@keyframes plat
{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
        -webkit-animation-timing-function: cubic-bezier(0,.97,.72,.95);
                animation-timing-function: cubic-bezier(0,1.44,.72,.95);
    }
}


.composition--dessert                   /*animation des desserts*/
{
    -webkit-animation: dessert 3s 10s;
            animation: dessert 3s 10s forwards;
            opacity: 0;
}

@-webkit-keyframes dessert
{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
        -webkit-animation-timing-function: cubic-bezier(0,.97,.72,.95);
                animation-timing-function: cubic-bezier(0,1.44,.72,.95);
    }
}

@keyframes dessert
{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
        -webkit-animation-timing-function: cubic-bezier(0,.97,.72,.95);
                animation-timing-function: cubic-bezier(0,1.44,.72,.95);
    }
}