@mixin logo-bouton($width: 200px, $height: auto, $font-size: 17px, $margin-top: 25px, $margin-right: auto, $margin-bottom: 0px, $margin-left: auto, $border-radius: 100px, $color: white )
{
    width: $width;
    height: $height;
    font-size: $font-size;
    margin: $margin-top $margin-right $margin-bottom $margin-left;
    display: block;
    border-radius: $border-radius;
    color: $color;
}

@mixin centrer($flex-direction: normal,$align-items: normal)
{
    display: flex;
    flex-direction: $flex-direction;
    justify-content: center; 
    align-items: $align-items; 
}

@mixin marge-auto
{
    margin-left: auto;
    margin-right: auto;
}

@mixin titre ($taille-size: 17px)
{
    font-family: 'robotobold', verdana, arial, helvetica, sans-serif;
    font-size: $taille-size;
    font-weight: 600;
}

@mixin souligner ($border-bottom: 1px solid black, $padding-bottom: 5px, $width: auto )
{
    border-bottom: $border-bottom;
    padding-bottom: $padding-bottom;
    width: $width;
}

@mixin hover 
{
    -webkit-filter: brightness(1.2);
            filter: brightness(1.2);
    box-shadow: 3px 3px 10px black;
}

@mixin hover-couleur
{
    background: #dbd7e0;
}