$couleur-pr:#9356DC;                                         
$couleur-sec: #FF79DA;
$couleur-ter: #99E2D0;
$background:  #f3f7f6; 
$background-foother: rgb(41, 37, 37);                           

$taille-size:(p:17px, icone:19px, logo: 20px, h1:21px, coeur:25px, grand-coeur: 30px);
$taille-size-t:(p:19px, icone:24px, logo: 25px, h1:28px, coeur:30px);

$interligne:(h1: 35px, p:23px);


$ombrage : 1px 2px 10px rgba(182, 176, 176, 0.952);

$marge: 20px;
$marge-t: 40px;